.navbar {
    background-color: #2f3640;
    padding: 1rem 2rem;
    color: white;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
  }
  